body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
}

nav li a:link, a:visited {
    color: black;
}

.sign-in {
    background-color: rgb(109, 109, 242);
    border-radius: 4px;
    padding: 5px;
}

.logo {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

button {
    border-radius: 2px;
    background-color: transparent;
    padding-top: 7px;
}

#search {
    border: 1px solid #dfe1e5;
    width: 500px;
    height: 40px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 700px;
}

.submit {
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.submit:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 400px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

footer ul {
    display: flex;
}

footer li {
    margin-right: 20px;
    display: flex;
}

footer li a {
    text-decoration: none;
}

footer li a:link, a:visited {
    color: black;
}